@use '../../styles/variables' as *;

.card {
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-card;
  flex-shrink: 0;
  padding: 20px;
  position: relative;

  &:hover > .edit {
    display: block;
  }
}

.edit {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: $border;
  font-size: $font-normal;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    color: $main-text;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $border;
  font-size: $font-normal;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    color: $error;
  }
}

.header {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: $font-normal;
  font-weight: 700;
}

.titleInput {
  height: 50px;
  border: 1px solid $border;
  border-radius: 10px;
  padding: 10px 10px;
  transition: 0.05s;
  display: flex;
  justify-content: center;

  &:has(input:focus) {
    border-color: $main;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: $font-normal;
    color: $main-text;
    background-color: $bg-card;
  }

  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 50%;
    font-size: 1.7rem;
    color: $secondary;
    transition: 0.1s;

    &:hover {
      color: darken($secondary, 10);
    }
  }
}

.add {
  width: 100%;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: $border;
  font-size: $font-normal;
  transition: 0.1s;
  margin-top: 20px;

  &:hover {
    color: $main-text;
  }
}

.editOrder {
  width: 100%;
  padding: 0 20px 5px 10px;
  display: flex;
  justify-content: space-between;
  font-size: $font-normal;
  color: $border;

  & > svg {
    cursor: pointer;
    transition: 0.1s;
  }

  & > svg:hover {
    color: $main-text;
  }

  & > svg:nth-of-type(2):hover {
    color: $error;
  }
}
