@use '../../../styles/variables' as *;

.task {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: $font-normal;
  cursor: grab;
  position: relative;

  &:hover > .delete {
    display: block;
  }
}

.priority {
  width: fit-content;
  padding: 2px 5px;
  border-radius: 10px;
  font-size: $font-small;
  color: #fff;
  margin-bottom: 5px;
}

.delete {
  display: none;
  color: $border;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 0.1s;

  &:hover {
    color: $error;
  }
}
