$main: #6336e5;
$secondary: #9c7ef2;
$bg-panel: #b8b8b8;
$bg-card: #f1f1f1;
$main-text: #505050;
$border: #b7b7b7;
$light-text: #d9d9d9;
$priorit-high: #f07575;
$priorit-mid: #75a6f0;
$priorit-low: #75f089;
$error: #f07575;
