@use '../styles/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.projectsContainer {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.name {
  font-size: $font-section;
}

.add {
  font-size: $font-normal;
  margin-left: 20px;
  cursor: pointer;
}

.projects {
  display: flex;
}

.empty {
  height: 250px;
  width: 250px;
  line-height: 250px;
  text-align: center;
  border: 2px dashed $border;
  border-radius: 10px;
  font-size: $font-section;
  color: $border;
  margin: 15px 0;
  cursor: pointer;
}

.shared {
  width: 100%;

  & .name {
    margin-top: 50px;
  }
}
